.App {
  /* text-align: center; */
  padding: 0 150px;
  margin-top: 50px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myClass{
  margin-top: 50px;
}
.imge{
  text-align: center;
  margin-top: -50px;
}
.myClass img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

.contents{
  padding-left: 420px;
}
.contents h3{
  margin-top:-10px;
}
.buttons{
  padding-left: 420px;
  display: flex;
  margin-top: -8px;
}
.btn1, .btn2{
  padding: 0 20px;
  color: blue;
  margin-right: 5px;
  margin-top: 13px;
  height: 35px;
}